{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@react-native-community",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["detox", "@typescript-eslint"],
  "rules": {
    "semi": ["off"],
    "import/order": ["off"],
    "prettier/prettier": ["error"],
    "no-fallthrough": "off",
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "comma-dangle": 0,
    "react/display-name": 0,
    "no-var": ["error"],
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-unused-vars": ["error"],
    "react-hooks/exhaustive-deps": "off",
    "react/no-unstable-nested-components": [
      "warn",
      { "allowAsProps": true  }
    ],
    "react/forbid-elements": ["warn", {
      "forbid": [
        {
          "element": "Text",
          "message": "Use <Typography> from @cookunity/ui instead"
        }
      ]
    }]
  },
  "overrides": [],
  "settings": {
    "import/ignore": ["node_modules"],
    "import/resolver": {
      "babel-module": {}
    }
  }
}